
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
.env
.idea
docker-compose.override.yml
docker-compose.yml
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/bin/
/migrations/
/public/.htaccess
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
